@{
  Layout="_Layout";
}
<h2>Best Restaurants</h2>
<button class="btn btn-info">@Html.ActionLink("View Cuisines", "Index", "Cuisines")</button>
<button class="btn btn-info">@Html.ActionLink("View Restaurants", "Index", "Restaurant")</button>
